<h1>Hola @question.user.mail<h1>

<h3>Acabas de hacer la siguiente pregunta:</h3>
<h3><%= @question.title %></h3>
<h4><%= markdown(@question.question) %></h4>
<p>Puedes darle seguimiento <%= link_to "aqui",@question%></p>
<p>Pronto te daremos respuesta</p>
