<h1>Hola @question.user.email<h1>

<h3>Acabas de hacer la siguiente pregunta:</h3>
<h3><%= @question.title %></h3>
<h4><%= @question.question%></h4>
<p>Puedes darle seguimiento <%= link_to "aqui",@question%></p>
<p>Pronto te daremos respuesta</p>
